{{> head }}

{{> navbar }}
    
    <div class="container">
        <div class="row">
        <div class="col">
            <h1>Sobre Nosotros</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi ratione ipsa hic maiores fuga rerum quo excepturi, odio magni ipsam exercitationem voluptatem eaque voluptatum repellat est doloribus facere eos.
            </p>
        </div>
        <div class="col">
            <img src="assets/img/dragon_ball.jpg" class="img-thumbnail">
        </div>
    </div>
    </div>

{{> footer }}